@(shopList: List[(String, Int)])
@import helper._

@main("Customer Page") {
    <div style="text-align: center; list-style: inside;">
        <h1>Welcome to the Customer Page</h1>
        <h2>PRODUCT LIST</h2>
        <h2>@shopList.size products on the shelf</h2>

        <ul>
            @shopList.map { product =>
            <li style="display: block;">
                @form(routes.ShopController.buyProduct(product._1, product._2)) {
                <div>
                    @product._1 - £ @product._2
                    <input style="margin-left: 40px" type="submit" value="Buy">
                </div>
                }
            </li>
            }
        </ul>

    </div>
}