@(shopList: List[(String, Int, Option[Int], Option[String])])(implicit request: RequestHeader)
@import helper._

@main("Merchant Page") {
    <div style="text-align: center;">
        <h1>Welcome to the Merchant Page</h1>
        <h2>SHOP LIST</h2>
        <h2>@shopList.size products in the Inventory</h2>
        <ul>
            @shopList.map { product =>
            <li style="display: block;">
                <div>
                    @form(routes.ShopController.removeProduct(product._1, product._2, product._3, product._4)) {
                            @product._1 - £ @product._2 - New Offer: @product._3 - Offer Description: @product._4
                        <input style="margin-left: 40px" type="submit" value="Delete">
                    }
                </div>
            </li>
            }
        </ul>

        <h2>Add a new product</h2>
        <form method="post" action="@routes.ShopController.addProducts">
            <input type="text" name="newProduct" placeholder="Enter new product">
            <input type="number" name="Price" placeholder="Enter price" style="width: 6em;">
            <input type="submit" value="Add Product">
        </form>

        <h2>Add a new offer</h2>
        @form(routes.ShopController.newOffer) {
            <input type="text" name="productLabel" placeholder="Enter product name">
            <input type="text" name="newOffer" placeholder="Enter offer">
            <input type="text" name="offerDescription" placeholder="Enter offer description">
            <input style="margin-left: 40px" type="submit" value="Apply Offer">
        }

    </div>
}